body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.highlight-section {
    background-color: #4CAF50; /* Green color */
    padding: 20px;
    color: white;
}

.links-container {
    text-align: center;
}

a {
    color: blue;
    text-decoration: underline;
}

.logo-container img {
    width: 300px;
    height: auto;
}
.h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;  /* Center the heading */
}