<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/def.css' %}">
</head>

<body>
    <form method="POST" class="registration-form">

        {% csrf_token %}

        <h2>User Registration</h2>

        <div class="form-group">
            {{ form.first_name.label_tag }}
           First_Name <input type="text" name="first_name" value="{{ emp.first_name }}">
        </div>

        <div class="form-group">
            {{ form.last_name.label_tag }}
           Last_Name <input type="text" name="last_name" value="{{ emp.last_name }}">
        </div>

        <div class="form-group">
            {{ form.age.label_tag }}
            Age<input type="text" name="age" value="{{ emp.age }}">
        </div>

        <div class="form-group">
            {{ form.adress.label_tag }}
            Addres<input type="text" name="adress" value="{{ emp.adress }}">
        </div>

        <div class="form-group">
            {{ form.emailid.label_tag }}
           Emailid<input type="text" name="emailid" value="{{ emp.emailid }}">
        </div>

        <div class="form-group">
            {{ form.phonenumber.label_tag }}
            Phone number<input type="text" name="phonenumber" value="{{ emp.phonenumber }}">
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            Password<input type="text" name="password" value="{{ emp.password }}">
        </div>

        <div class="form-group">
            <input type="submit" value="Update Employee Data">
        </div>

    </form>
</body>

</html>
